= form_for(@question) do |f|
  - if @question.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@question.errors.count, "error") 
        prohibited this question from being saved:

      %ul
        -@question.errors.full_messages.each do |msg|
          %li
            = msg

  %div.field
    = f.label :question_text
    = f.text_field :question_text
    = f.select("question_type", {"Red Yellow Green Rating" => "Rating", "Yes or No" => "Boolean", "Free Response" => "Free"})

  = hidden_field(:question, :survey_id, :value => "#{params[:id]}")
  %div.actions
    = f.submit
