%h1
  = format_month_and_year(@survey)

= form_tag responses_update_individual_path, :method => :put do
  =hidden_field_tag 'survey_id', @survey.project.id
  %table.responses
    - for response in @responses
      =fields_for "responses[]", response do |f|
        %tr.question_and_response
          %td
            = f.label response.question.question_text
            -if response.question.question_type == "Rating"
              = f.select(:question_response, %w{Red Amber Green}, {:include_blank => 'Please Select'}) 
              %td.rating-explanation
                = f.label :response_explanation
                = f.text_field(:response_explanation)
            -elsif response.question.question_type == "Boolean"
              = f.select(:question_response, %w{Yes No})
              %td.explanation
                = f.label :response_explanation
                = f.text_field(:response_explanation)
            -else
              = text_field :response
  =submit_tag
