%h1
  = format_month_and_year(@survey)

%table
  - @responses.each do |response|
    - fields_for "response[]", response do |f|
      %tr.question
        %td
          = response.question.question_text
      %tr.response
        %td
          -if response.question.question_type == "Rating"
            = f.select("question_response", {"Red" => "Red", "Amber" => "Amber", "Green" => "Green"})
          -elsif response.question.question_type == "Boolean"
            = f.select("question_response", {"Yes" => "Yes", "No" => "No"})
          -else
            = f.text_field :response
